@media only screen and (min-width: 700px) {
  body {
    background-image: linear-gradient(blue, orange);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}
h1,
h2 {
  color: orange;
}
p {
  color: black;
  border: 2pt;
  border-style: solid;
  border-color: black;
}
header.ul.avatar {
  list-style-type: none;
}
li {
  display: inline;
}
li a {
  color: aliceblue;
  text-align: center;
  padding: 16px;
}
img.avatar {
  border-radius: 50%;
}
nav {
  background-color: black;
}
